.error {
    color: red;
    font-size: 12px;
}

.create-zone {
    text-align: right;
    position: absolute;
    right: 22px;
    top: 15px;
}

.dataTables_filter {
    float: left;
}

.index-table {
    width: 40px !important;
}

.action-table {
    width: 100px !important;
}

.dropzone {
    border: 2px dashed #dedede;
    border-radius: 5px;
    background: #f5f5f5;
}

.dropzone i {
    font-size: 5rem;
}

.dropzone .dz-message {
    color: rgba(0, 0, 0, 0.54);
    font-weight: 500;
    font-size: initial;
    text-transform: uppercase;
}

.dropzone .dz-image img {
    min-height: 100%;
    min-width: 100%;
}

.dropzone .custom-dz-remove {
    border-radius: 50%;
    width: 26px;
    height: 26px;
    background-color: #c0c5ce;
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 99;
    text-align: center;
    cursor: pointer !important;
}

.dropzone .custom-dz-remove i {
    cursor: pointer !important;
    font-size: 16px;
    color: red;
}

.btn-remove {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #000000;
    border: 1px solid #000000;
    display: block;
    padding: 0 10px;
    line-height: 18px;
    cursor: pointer;
}

.btn-checkout {
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    color: #000000;
    border: 1px solid #000000;
    display: block;
    padding: 5px;
    cursor: pointer;
}

.box-cart {
    width: 350px;
    top: 35px;
    left: 0;
    font-size: 16px;
    color: #000000;
    z-index: 9999;
}

.fs-14 {
    font-size: 14px;
}

.menu-item .box-cart {
    display: none !important;
}

.menu-item:hover .box-cart {
    display: flex !important;
}

.select2-container {
    width: 100% !important;
}

.select2-selection {
    height: 35px !important;
    border: 1px solid #e9ecef !important;
}

.select2-selection__arrow {
    top: 4px !important;
}

.w-15 {
    width: 15%;
}
